global
        log /dev/log    local0
        log /dev/log    local1 <%= @log_level %>
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL).
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
        tune.ssl.default-dh-param 2048
        ssl-default-bind-options no-sslv3
        maxconn <%= @maxconn %>

defaults
        log     global
        mode    http
        #option httplog
        option  dontlognull
        option forwardfor
        option http-server-close
        option dontlog-normal
        timeout connect <%= @timeout_connect %>
        timeout client  <%= @timeout_client %>
        timeout server  <%= @timeout_server %>
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http.maint
        errorfile 504 /etc/haproxy/errors/504.http

frontend haproxy-http
        bind *:80
        reqadd X-Forwarded-Proto:\ http
        redirect scheme https if !{ ssl_fc }
        

frontend haproxy-https
        bind *:443 ssl crt /etc/ssl/private/server.key crt /etc/ssl/private/server.key
        reqadd X-Forwarded-Proto:\ https
        use_backend iis if { ssl_fc_sni example.erecruit.com } # content switching based on SNI
        use_backend iis-mobile if { ssl_fc_sni examplemobile.erecruit.com } # content switching based on SNI

        #define hosts based on domain names
        acl host_main_site hdr(host) -i <%= @main_site %>
        acl host_mobile_site hdr(host) -i <%= @mobile_site %>

        ## figure out backend to use based on domainname
        use_backend iis if host_main_site
        use_backend iis-mobile if host_mobile_site

backend iis
        mode http
        balance roundrobin
        option httpclose
        option forwardfor
        option httpchk GET <%= @main_site_httpchk %> HTTP/1.1\r\nhost:\ <%= @main_site %>
        default-server inter <%= @httpchk_interval %>
        cookie HAP_SRV insert indirect nocache

backend iis-mobile
        mode http
        balance roundrobin
        option httpclose
        option forwardfor
        option httpchk GET <%= @mobile_site_httpchk %> HTTP/1.1\r\nhost:\ <%= @mobile_site %>
        default-server inter <%= @httpchk_interval %>
        cookie HAP_SRV insert indirect nocache

listen stats *:1936
        stats enable
        stats uri /
        stats hide-version
        stats realm <%= @stats_auth_realm %>
        stats auth <%= @stats_auth_user %>:<%= @stats_auth_password %>
